---
layout: main.pug
title: Home
eleventyImport:
    collections: ["post"]
---
include ../_includes/post-preview.pug
section.hero.is-primary.is-medium.is-bold
    .hero-body
        .container.has-text-centered
            h1.title.is-1 Welcome to The Vocabustudy Blog!
            h1.subtitle.mt-2 Helpful tips and tricks, exclusive behind-the-scenes, and interesting articles await.
.container.is-flex-grow-1.mb-3(style="min-height: 0;overflow-y: auto;")
    section.articles
        .column.is-8.is-offset-2
            - var articles = [...collections.post].reverse();
            .has-text-center.mt-5
                h1.title LATEST POST
                hr(style='width: 35%;')
            +post-preview(articles[0])
            .has-text-center.mt-5
                h1.title PREVIOUS POSTS
                hr(style='width: 35%;')
            each post in articles.slice(1, 3)
                +post-preview(post)
            a.button.is-primary.is-outlined(href="/archive/") 
                span View All Posts
                span.icon
                    i.material-symbols-rounded.is-filled(aria-hidden="true") arrow_circle_right