---
permalink: |
    | sitemap.xml
eleventyExcludeFromCollections: true
---
doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
    each page in collections.all
        url
            loc https://blog.vocabustudy.org#{ filters.url(page.url) }
            lastmod #{ page.date.toISOString() }