doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/blog.css")
        link(rel="stylesheet" href="/css/prism-darcula.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap")
        link(rel="icon" href="/icons/favicon.ico")
        title #{title} - The Vocabustudy Blog
    body.is-flex.is-flex-direction-column
        nav.navbar.is-primary
            .navbar-brand.is-justify-content-space-between
                a.navbar-item(href="https://vocabustudy.org/")
                    img(src="/icons/icon-192.png" height="28")
                a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='main-navbar')
                    span.has-background-white(aria-hidden='true')
                    span.has-background-white(aria-hidden='true')
                    span.has-background-white(aria-hidden='true')
            #main-navbar.navbar-menu
                .navbar-start
                    a.navbar-item.has-text-semibold(href="/") Vocabustudy Blog
                    a.navbar-item(href="/archive/") Archive
        main.is-flex-grow-1.is-flex.is-flex-direction-column(style="min-height: 0;") !{content}
        footer.footer
            p.has-text-centered &copy; 2023 For Zero Applications. Created by Siddhant Kameswar and Ruhan Gupta. All rights reserved.