<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vocabustudy/src/css/bulma-styles.scss">
    <link rel="stylesheet" href="../vocabustudy/src/css/_bulma-modules.scss">
    <link rel="stylesheet" href="blog.scss">
    <title>{{ title }}</title>
  </head>
  <body>
  <nav class="navbar is-primary">
      <div class="container">
          <div class="navbar-brand">
              <a href="https://vocabustudy.org"><img class="navbar-item" src="../vocabustudy/src/icons/icon-192.png" style="height: 75px;" href="/"></a>
          </div>
          <h1 class="subtitle is-4 navbar-item" style="color: white; margin-left: auto; margin-right: auto; font-weight: 500;">Vocabustudy Blog</h1>
      </div>
  </nav>
    {{ content | safe }}
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                ©️ 2023 For Zero Applications. Created by Ruhan Gupta. All rights reserved.
            </p>
        </div>
    </footer>
  </body>
</html>