---
layout: main
---
    <div class="column is-8 is-offset-2">
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title"> {{ title | safe }}</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-primary"><a href="{{ social | safe }}" style="color:white">{{ author | safe }}</a></span>
                                    <span class="tag is-rounded"> {{ creation | safe }} </span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            {{ content | safe }}
                        </div>
                    </div>
                </div>
    </div>