@use "@for-0/bulvar-styles/src/bulvar-styles/bulvar" as * with (
    $custom-colors: ()
);
@use "@bulvar/bulma/themes/light";
@use "@for-0/bulvar-styles/src/bulvar-styles/dark-theme";
@use "@bulvar/bulma/sass/elements/image";
@use "@bulvar/bulma/sass/components/media";
@use "@bulvar/bulma/sass/components/pagination";

.material-symbols-rounded {
    font-variation-settings:
        "FILL" var(--font-variation-fill, 0),
        "wght" var(--font-variation-weight, 400),
        "GRAD" var(--font-variation-grade, 0),
        "opsz" var(--font-variation-optical-size, 48);
}
.is-filled {
    --font-variation-fill: 1;
}
.article {
    margin-bottom: 2rem;
}
kbd {
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    line-height: 1.4;
    font-family: $family-monospace;
    font-size: 10px;
    display: inline-block;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 20%), inset 0 0 0 2px #fff;
    background-color: rgb(247, 247, 247);
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
}
a:visited.navbar-item {
    color: var(--navbar-item-color);
}
a:visited.dropdown-item {
    color: var(--dropdown-item-color);
}
.navbar-burger:focus {
    color: revert;
}
.list-item-title {
    color: var(--text-strong);
}
.list.has-hoverable-list-items .list-item:hover {
    background-color: var(--scheme-main-ter);
}
html, body {
    height: 100%;
    overflow-y: auto;
}
pre {
    @extend .box;
}
button, .pagination a {
    transition: 0.1s;
}
a.pagination-link {@extend .pagination-link;}
a.pagination-next {@extend .pagination-next;}
a.pagination-previous {@extend .pagination-previous;}
:root {
    --pagination-current-background-color: var(--primary);
}
.mask {
    position: relative;
    display: inline-block;
    text-align: center;
    background-image: url(../vocabustudy/src/images/login-background.svg);
    color: #ffff;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: transparent;
}